* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  .login-form {
    width: 80%;
    background: rgb(77, 202, 227);
    margin: auto;
    padding: 1rem;
    align-items: center;
    display:flex;
    flex-direction: column;
    gap: 0.5rem;
    font-size: 30px;
  }
  .login-form > input {
    font-size: 30px;
    background: rgb(77, 202, 227);
  }